*{
    box-sizing: border-box;
}


/* the width and height have to be 3px to account for the 1px border on either side
other wise the the last cells wraps onto the next row */
.game-grid {
    display: grid;
    border: 1px solid purple;
    width: 2010px;
    height: 2010px;
    display: flex;
    flex-wrap: wrap;   
}

.game-grid div {
    height: 100px;
    width: 100px
}

.startingPoint {
    /* make this hollow or transparent or some other indicator of it being the beginning */
    background-color: purple;
    border-radius: 20%;
}

.endPoint {
    background-color: greenyellow;
    border-radius: 20%;
}

.froggy {
    background-color: blue;
    

}

/* border-radius: 50%;
    background-color: #fff;
    box-shadow: */
    /* 0 0 60px 30px #fff,  inner white */
    /* 0 0 100px 60px #f0f, middle magenta */
    /* 0 0 140px 90px #0ff; outer cyan */

